<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting propertyKey="@Properties.TimeFormat" title="@Strings.TimeFormatTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.TimeFormat12h</listEntry>
            <listEntry value="1">@Strings.TimeFormat24h</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ArcDataType" title="@Strings.ArcDataTypeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ArcDataBattery</listEntry>
            <listEntry value="1">@Strings.ArcDataSteps</listEntry>
            <listEntry value="2">@Strings.ArcDataCalories</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.StepGoal" title="@Strings.StepGoalTitle">
        <settingConfig type="numeric" min="1000" max="50000" />
    </setting>

    <setting propertyKey="@Properties.CalorieGoal" title="@Strings.CalorieGoalTitle">
        <settingConfig type="numeric" min="500" max="5000" />
    </setting>

    <setting propertyKey="@Properties.ColorTheme" title="@Strings.ColorThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeCyanNeon</listEntry>
            <listEntry value="1">@Strings.ThemePurpleDreams</listEntry>
            <listEntry value="2">@Strings.ThemeGreenMatrix</listEntry>
            <listEntry value="3">@Strings.ThemeRedAlert</listEntry>
            <listEntry value="4">@Strings.ThemeBlueIce</listEntry>
            <listEntry value="5">@Strings.ThemeOrangeSunset</listEntry>
        </settingConfig>
    </setting>

</settings>
